* {
    background: grey;
    text-align: center;
    align-content: center;
    justify-content: center;
    max-width: 960px;
}
.pokebois {
    max-height: 380px;
    width: 80%;
    padding-top: 0;
    margin-top: 0;
}
